Server/build/
frontend_release_build/
node_modules/
.vs/
emsdk/
MasterServer/users.json

database.json
logs.txt

### Rivet ###
.rivet/
.env

# Added by cargo
target/

# Client. Intentional:
Client/build/CMakeFiles/**
Client/build/cmake_install.cmake
Client/build/CMakeCache.txt
Client/build/Makefile